.head {
    background: #f4483e;
    color: #FFFFFF;
    height: 44px;
    width: 100%;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    h1{
        position: absolute;
        left: 40% ;
        font-size: 20px;
        line-height: 44px;
        display:inline-block;

    }
    a.back{

        font-size: 40px;
        color:#fff;
        //font-weight: 900;
        line-height: 40px;
        padding-left: 10px;
         display:inline-block;
    }
    .home a{
         width: 30px;
        height: 30px;
          background-image: url(../images/header_app.png);
        // width: 100%;
        position: absolute;
        // display: block;
        right: 5px;
         background-size: 32px;
         text-align: center;
         margin-top:7px;
        // line-height: 44px;
    }
}

.coupon-title {
    >ul {
    	padding-top: 10px;
    	padding-bottom: 10px;
        >li {
            float: left;
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: center;
            border: 1px solid #eeeeee;
            display: block;
            height: 75px;
            margin-left: 5px;
            margin-top: 5px;
            overflow: hidden;
            padding-top: 5px;
            text-align: center;
            width: 31%;
            font-size: 12px;
            >a {
                >img {
                    max-height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
