/*省钱控样式*/
/*公共样式头部*/
.disabled {
  cursor: not-allowed;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
}
.overlay img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}
.m-header {
  width: 100%;
  height: 45px;
}
.m-header .m-header-in {
  max-width: 640px;
  min-width: 320px;
  height: 45px;
  background-color: #FF841D;
  margin: 0 auto;
  padding: 10px 10px 0 15px;
  position: relative;
}
.m-header .m-header-in .icon-back {
  width: 50px;
  height: 45px;
  font-family: Simsun;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 13px;
  top: 10px;
}
.m-header .m-header-in h1 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.m-header .m-header-in .download {
  width: 30px;
  height: 30px;
  background-color: white;
  background: url("../images/header_app.png") no-repeat;
  background-size: 30px 30px;
  position: absolute;
  right: 18px;
  top: 6px;
}
/*列表样式*/
.mc-list {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
}
.mc-list .shop-info {
  height: 115px;
  border-bottom: 1px dashed #EBEBEB;
}
.mc-list .shop-info .pic {
  float: left;
  padding-top: 10px;
  width: 100px;
  height: 115px;
}
.mc-list .shop-info .pic img {
  width: 100%;
}
.mc-list .shop-info .describe {
  overflow: hidden;
  height: 100%;
  padding: 15px 8px 0 8px;
}
.mc-list .shop-info .describe .title {
  height: 36px;
  overflow: hidden;
}
.mc-list .shop-info .describe .title span {
  color: #FF8F3E;
}
.mc-list .shop-info .describe .option {
  margin-top: 25px;
}
.mc-list .shop-info .describe .option .time {
  font-size: 12px;
  color: #A1A1A1;
}
.mc-list .shop-info .describe .option .time .small {
  float: left;
}
.mc-list .shop-info .describe .option .time .commet {
  float: right;
}
.mc-list .shop-info .describe .option .time .commet i {
  display: inline-block;
  width: 14px;
  height: 11px;
  background: url("../images/comment.png") no-repeat;
  background-size: 12px 12px;
}
/*省钱列表页码*/
.page-parts {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
}
.page-parts .mc-page {
  width: 100%;
  height: 75px;
  background-color: #f2f2f2;
}
.page-parts .mc-page .box1 {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 20px;
}
.page-parts .mc-page .box1 a {
  display: inline-block;
  width: 82px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border-bottom: 1px solid #bababa;
  background-image: linear-gradient(to top, #f2f2f2, #ffffff);
}
.page-parts .mc-page .box2 {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 20px;
}
.page-parts .mc-page .box2 select {
  width: 125px;
  height: 34px;
  border: 1px solid lightgrey;
}
.page-parts .mc-page .box3 {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 20px;
}
.page-parts .mc-page .box3 a {
  display: inline-block;
  width: 82px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border-bottom: 1px solid #bababa;
  background-image: linear-gradient(to top, #f2f2f2, #ffffff);
}
/*面包屑*/
.mainnav {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
}
.mainnav .nav-info {
  width: 100%;
  height: 38px;
  line-height: 38px;
  border: 1px solid #f2f2f2;
  text-indent: 5px;
  font-size: 13px;
  background-image: linear-gradient(to top, #f2f2f2, #ffffff);
}
.mainnav .nav-info a {
  float: left;
}
.empty {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  height: 38px;
  border: 1px solid #f2f2f2;
}
/*公共样式底部*/
.m-footer {
  width: 100%;
  height: 85px;
  bottom: 0;
  left: 0;
}
.m-footer .m-footer-in {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 85px;
  margin: 0 auto;
  background-color: #EFEFEF;
}
.m-footer .m-footer-in .m-footer-top a {
  float: left;
  height: 30px;
  line-height: 26px;
  border: 2px solid #ddd;
  border-right: none;
  text-align: center;
  width: 33.33%;
}
.m-footer .m-footer-in .m-footer-top a:nth-child(1) {
  border-left: none;
}
.m-footer .m-footer-in .m-footer-top a:nth-child(3) {
  position: relative;
}
.m-footer .m-footer-in .m-footer-top a:nth-child(3) img {
  width: 11px;
}
.m-footer .m-footer-in .m-footer-bottom {
  text-align: center;
  padding-top: 12px;
  font-size: 12px;
}
.m-footer .m-footer-in .m-footer-bottom p:nth-child(1) strong {
  color: #FD2626;
}
